body{
    font-family: 'Smooch Sans', sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
    background-color: #e2ebf0;
}

button{
    font-family: 'Smooch Sans', sans-serif;
    font-size: 1.1rem;
    font-weight: 600;
    padding: 1rem 2rem;
    border: none;
    border-radius: 5px;
    letter-spacing: 0.1rem;
    color: white;
    margin: 0.5rem;

}
.header{
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    height: 30vh;
    color: white;
    padding: 2rem 0 0 4rem;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

h1{
    font-family: 'Raleway';
    font-size: 2rem;
    margin: 0;
}

h2{
    font-family: 'Raleway';
    font-size: 1.4rem;
    margin: 0;

}

.body_container{
    display: flex;
    justify-content: center;
}

.container{
    text-align: center;
    width: 60%;
    margin-top: -2.5rem;
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
}

.sign_up{
    background-color: #30cfd0;
    transition: background-color 0.5s ease, color 0.5s ease, outline 0.5s ease;
}

.sign_up:hover{
    background-color: white;
    color: #30cfd0;
    cursor: pointer;
    outline:1px solid #30cfd0;
}

.log_in{
    background-color: #330867;
    transition: background-color 0.5s ease, color 0.5s ease, outline 0.5s ease;
}

.log_in:hover{
    background-color: white;
    color: #330867;
    cursor: pointer;
    outline:1px solid #330867;
}
  
